
body{
    color: white;
    background: black;
    background-image: url(../IMG/FUNDO.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 1100px 210px;
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    font-size: 80px;
}
.p{
    font-size: 40px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 20px;
}
a {
    color: white;
    text-decoration: none;
}
.nome{
    color: brown;
    padding: 0px 50px;
    width: 100%;
    display: table;

}
header img { 
    width: 12%;
    border-radius: 50%;
    border: 3px solid brown;
}
.center {
    text-align: center;
}
footer {
    display: flex;
    justify-content: center;
}
footer img{
    width: 300%;
    height: 30px;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 1px;
    width: 300%;
}
.container {
    padding: 0px 50px;
}
nav a:hover {
    color: brown;
}
.row {
    padding: 0 50px;
    display: table;
    width: 100%;
}
form {
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 4px 8px #999;
}

input, textarea{
    width: 94%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 1px solid #999;
}
label {
    font-weight: bold;
    padding-bottom: 4px;
    display: inline-block;
}
button {
    background-color: white;
    width: 100%;
    border:  1px solid rgb(21, 4, 98);
    color: rgb(21, 4, 98);
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;
}